.hotline-phone-ring-wrap {
    position: fixed;
    bottom: -5px;
    right: 168px;
    z-index: 999999
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block
}

.hotline-phone-ring-circle, .hotline-phone-ring-circle-fill {
    border-radius: 100%;
    transition: .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    position: absolute
}

.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: 2px solid #a7836a;
    -webkit-animation: 1.2s ease-in-out infinite phonering-alo-circle-anim;
    animation: 1.2s ease-in-out infinite phonering-alo-circle-anim;
    transform-origin: 50% 50%;
    opacity: .5
}

.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    background-color: rgb(215 179 154 / 75%);
    border: 2px solid transparent;
    -webkit-animation: 2.3s ease-in-out infinite phonering-alo-circle-fill-anim;
    animation: 2.3s ease-in-out infinite phonering-alo-circle-fill-anim;
    transform-origin: 50% 50%
}

.hotline-phone-ring-img-circle {
    background-color: #4e3289;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: 1s ease-in-out infinite phonering-alo-circle-img-anim;
    animation: 1s ease-in-out infinite phonering-alo-circle-img-anim;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px
}

.hotline-bar {
    position: absolute;
    background: rgb(45 66 131);
    height: 40px;
    width: 160px;
    line-height: 40px;
    padding: 0 8px;
    background-size: 100%;
    cursor: pointer;
    transition: .8s;
    -webkit-transition: .8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 50px !important;
    left: 37px;
    bottom: 37px
}

.fabs, .fabs i {
    transition: 120ms ease-in-out
}

.hotline-bar > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-indent: 35px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial
}

.hotline-bar > a:active, .hotline-bar > a:hover {
    color: #fff
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: 0.1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: 0.5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0%, 100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .6
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .6
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0%, 100%, 50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10%, 30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20%, 40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@media (max-width: 768px) {
    .hotline-bar {
        display: none
    }

    .hotline-phone-ring-wrap {
        bottom: 7px;
        right: 100px;
    }
}

.call-animation {
    background: #fff;
    width: 135px;
    height: 135px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: 5px solid #fff;
    animation: 2s infinite play;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.img-circle {
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 47px
}

@keyframes play {
    0% {
        transform: scale(1)
    }
    15% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, .4)
    }
    25% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, .4), 0 0 0 20px rgba(0, 0, 0, .2);
        box-shadow: 0 0 0 15px rgba(0, 0, 0, .4), 0 0 0 30px rgba(0, 0, 0, .2)
    }
}

.roundCool {
    border-radius: 50%;
    z-index: 99999999
}

.fabs {
    width: 56px;
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 25px;
    bottom: 24px;
    user-select: none;
    cursor: pointer;
    color: #ff9500;
    font-size: 5em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .08), 0 3px 10px rgba(0, 0, 0, .08)
}

.fabs i {
    will-change: transform
}

.inner-fabs .fabs {
    width: 48px;
    height: 48px;
    right: 26px;
    bottom: 29px;
    font-size: 1.5em;
    will-change: bottom;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .04), 0 3px 10px rgba(0, 0, 0, .04)
}

.inner-fabs.show .fabs:first-child {
    bottom: 85px
}

.inner-fabs.show .fabs:nth-child(2) {
    bottom: 139px
}

.inner-fabs.show .fabs:nth-child(3) {
    bottom: 247px
}

.inner-fabs.show .fabs:nth-child(4) {
    bottom: 192px
}

.inner-fabs.show .fabs:nth-child(5) {
    bottom: 299px
}

.inner-fabs.show .fabs:nth-child(6) {
    bottom: 351px
}

.inner-fabs.show .fabs:nth-child(7) {
    bottom: 404px
}

.inner-fabs.show + .fabs i {
    transform: rotate(135deg)
}

.material-icons.md-36, .md-36 {
    font-size: 36px
}

.material-icons.md-24 {
    font-size: 24px
}

.inner-fab-icon {
    height: 50px;
    width: 50px
}

.fabs::before {
    content: attr(data-tooltip);
    transition: opacity 120ms cubic-bezier(.4, 0, 1, 1);
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    color: #333;
    right: 53px;
    top: 18%;
    background-color: #ffd057;
    font-size: .6em;
    line-height: 1.2em;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 15px;
    padding: 7px 32px 6px 18px;
    max-width: 200px;
    text-overflow: ellipsis;
    vertical-align: middle
}

.inner-fabs.show .fabs::before {
    content: attr(data-tooltip);
    visibility: visible;
    opacity: 1;
    overflow: hidden
}

@media (max-width: 768px) {
    .hotline-phone-ring {
        left: 30px;
    }

    .hotline-phone-ring-circle {
        width: 110px;
        height: 110px;
    }

    .hotline-phone-ring-circle-fill {
        width: 80px;
        height: 80px;
    }

    .hotline-phone-ring-img-circle {
        width: 56px;
        height: 56px;
    }
}
